html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: 'Product Sans';
}

#container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

